<h1>Log In</h1>

<% form_tag session_path do -%>
<div class="field">
<p><%= label_tag 'login' %><br />
<%= text_field_tag 'login', @login %></p>
</div>
<div class="field">
<p><%= label_tag 'password' %><br/>
<%= password_field_tag 'password', nil %></p>
</div>
<p><%= link_to "forgotten password?", forgot_password_users_path %></p>
<div class="actions"><p><%= submit_tag 'Log in' %></p></div>
<% end -%>
